.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}

.header__logo h4 {
    padding-left: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    opacity: 0.8;
}

.header__menu, .header__menu-mobile {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    list-style: none;
}

.header__menu li {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;
    position: relative;
}

.header__menu-mobile-image {
    cursor: pointer;
}

.header__menu-mobile-slider {
    position: absolute;
    top: 55px;
    right: 0;
    padding-right: 12px;
    width: 280px;
    height: 40px;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;
    background-color: var(--color-creamson);
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.header__menu-mobile-slider li {
    font-weight: 700;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.slide-in {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-out {
    animation: slideOut 1s forwards;
}
  
@keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
}